---
import { Image } from 'astro:assets';

import alien from '../images/by-jason-clarke-giphy.gif';
import Layout from '../components/layout.astro';
---

<Layout title="Página não encontrada">
  <section class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Ops! Não há nada aqui.</h1>
        <Image
          src={alien}
          class="d-block my-4 mx-auto rounded shadow img-fluid"
          title="By Jason Clark at GIPHY"
          alt="https://giphy.com/jasonclarke"
        />
        <a href="/" class="text-center text-decoration-none">
          <h2>Voltar</h2>
        </a>
      </div>
    </div>
  </section>
</Layout>
