---
import { Image } from 'astro:assets';

import Layout from '../components/layout.astro';
import SocialMediaLinks from '../components/social-media-links.component';
import profilePic from '../images/profile-picture.jpeg';
import '../index.css';

import SongsStats from '../components/songs-stats/songs-stats.component';
---

<Layout title="guilher.me">
  <div class="container">
    <section class="row">
      <div class="col">
        <div class="row">
          <div class="d-flex col-12 col-lg-5 col-xl-4 mb-3 mb-lg-0">
            <Image
              src={profilePic}
              alt="It's a me!"
              class="rounded mx-auto img-fluid"
              loading="eager"
            />
          </div>
          <div class="col-12 col-lg-7 col-xl-8">
            <h2>Sobre mim</h2>
            <p class="txt-justify">
              Olá! Meu nome é Guilherme e este é meu domínio na internet. Sou
              desenvolvedor de software e nerd, então ter meu próprio espaço na
              internet é apenas uma maneira de continuar exercendo tanto a minha
              profissão quanto a minha... Vocação pessoal? Estou criando isto
              aqui sem nenhum compromisso de dedicar tempo e esforço para
              garantir que esteja sempre atualizado. No entanto, espero que seja
              atualizado o suficiente para não ser muito irrelevante até mesmo
              para mim.
            </p>
            <SocialMediaLinks client:load />
          </div>
        </div>
      </div>
    </section>
  </div>
  <SongsStats server:defer client:visible />
</Layout>
