---
import { Image } from 'astro:assets';

import Layout from '../components/layout.astro';
import SocialMediaLinks from '../components/social-media-links.component';
import profilePic from '../images/profile-picture.jpeg';
import MusicData from '../music';
---

<Layout title="Início">
  <section class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="d-flex col-12 col-lg-5 col-xl-3 mb-3 mb-lg-0">
            <Image
              src={profilePic}
              alt="It's a me!"
              class="rounded mx-auto img-fluid"
              loading="eager"
            />
          </div>
          <div class="col-12 col-lg-7 col-xl-9">
            <h2 class="text-center">Sobre mim</h2>
            <p class="txt-justify">
              Olá! Meu nome é Guilherme e este é meu domínio na internet. Sou
              desenvolvedor de software e nerd, então ter meu próprio espaço na
              internet é apenas uma maneira de continuar exercendo tanto a minha
              profissão quanto a minha... Vocação pessoal? Estou criando isto
              aqui sem nenhum compromisso de dedicar tempo e esforço para
              garantir que esteja sempre atualizado. No entanto, espero que seja
              atualizado o suficiente para não ser muito irrelevante até mesmo
              para mim.
            </p>
            <SocialMediaLinks client:load />
          </div>
        </div>
      </div>
    </div>
  </section>
  <MusicData client:only="react" />
</Layout>
