---
import '@fontsource-variable/fira-code';
import 'bootstrap-icons/font/bootstrap-icons.min.css';
import 'bootstrap/dist/css/bootstrap.min.css';

import '../index.css';
import packageJson from '../../package.json';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="pt-BR" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title} — guilher.me</title>
    <script is:inline>
      const theme = localStorage.getItem('theme') || 'light';
      document.documentElement.dataset.bsTheme = theme;
    </script>
  </head>
  <body>
    <header class="container z-1">
      <div class="row">
        <nav
          class="col py-4 border-bottom d-flex justify-content-between align-items-center"
        >
          <a href="/" class="text-decoration-none">
            <h1 class="text-primary mb-0">guilher.me</h1>
          </a>
          <label class="switch">
            <input checked="false" id="theme-switch" type="checkbox" />
            <span class="slider">
              <div class="star star_1"></div>
              <div class="star star_2"></div>
              <div class="star star_3"></div>
              <svg viewBox="0 0 16 16" class="cloud_1 cloud">
                <path
                  transform="matrix(.77976 0 0 .78395-299.99-418.63)"
                  fill="#fff"
                  d="m391.84 540.91c-.421-.329-.949-.524-1.523-.524-1.351 0-2.451 1.084-2.485 2.435-1.395.526-2.388 1.88-2.388 3.466 0 1.874 1.385 3.423 3.182 3.667v.034h12.73v-.006c1.775-.104 3.182-1.584 3.182-3.395 0-1.747-1.309-3.186-2.994-3.379.007-.106.011-.214.011-.322 0-2.707-2.271-4.901-5.072-4.901-2.073 0-3.856 1.202-4.643 2.925"
                ></path>
              </svg>
            </span>
          </label>
        </nav>
      </div>
    </header>
    <main class="py-3">
      <slot />
    </main>
    <div class="container">
      <footer class="row border-top py-4">
        <div
          class="col d-flex flex-wrap align-items-center justify-content-between"
        >
          <a
            href="/blog/about-this-blog"
            class="text-truncate text-decoration-none">Sobre este blog</a
          >
          <p class="mb-0 text-truncate">
            Desenhado e desenvolvido por Guilherme, em 2026 — <span
              >v{packageJson.version}</span
            >
          </p>
        </div>
      </footer>
    </div>
    <script>
      const themeSwitch = document.getElementById(
        'theme-switch',
      ) as HTMLInputElement;
      const themeSwitchLabel = document.getElementById('theme-switch__label');

      if (themeSwitch) {
        themeSwitch.checked = localStorage.getItem('theme') === 'dark';
        themeSwitch.addEventListener('change', () => {
          const theme = themeSwitch.checked ? 'dark' : 'light';

          if (theme === 'dark') {
            themeSwitchLabel?.classList.replace('bi-moon-fill', 'bi-sun-fill');
          } else {
            themeSwitchLabel?.classList.replace('bi-sun-fill', 'bi-moon-fill');
          }

          document.documentElement.dataset.bsTheme = theme;
          localStorage.setItem('theme', theme);
        });
      }
    </script>
  </body>
</html>
